* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: auto;
    padding: 60px 90px;
    background-color: #edfbfe;
    background-image: url(./bg-hero-desktop.svg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

#div1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 35px;
}

.free-btn {
    width: 200px;
    padding: 15px;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 2px 5px grey;
}

#div2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#div3 {
    width: 35%;
    text-align: left;
    padding-top: 200px;
}

#div4 {
    width: 55%;
    padding-top: 60px;
}

.illustration {
    width: 100%;
    height: auto;
}

header div h1 {
    width: 90%;
    font-size: 45px;
    text-transform: capitalize;
    line-height: 1.5;
    padding-bottom: 40px;
}

header div p {
    width: 85%;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 40px;
}

.start-btn {
    width: 40%;
    padding: 15px;
    background-color: #fe52c0;
    border: 1px solid #fe52c0;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#main {
    width: 100%;
    padding: 60px 90px;
}

#section1 {
    width: 100%;
    height: fit-content;
    padding: 50px 30px;
    margin-left: auto;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 0px grey;
    margin-bottom: 50px;
}

#mobile-section1 {
    display: none;
}

.sec-div {
    width: 40%;
    height: auto;
    margin: auto;
    text-align: left;
}

.sec-div2 {
    width: 45%;
    height: auto;
}

.grow {
    width: 100%;
    height: 400px;
}

#section1 div h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

#section1 div p {
    width: 70%;
    font-size: 18px;
    color: grey;
    line-height: 1.5;
}

#section2 {
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 0px grey;
    margin-bottom: 50px;
}

#mobile-section2 {
    display: none;
}

.sec-div3 {
    width: 45%;
    height: auto;
    padding-left: 150px;
} 

.sec-div4 {
    width: 40%;
    margin: auto;
    text-align: left;
    padding-left: 200px;
}

#section2 div h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

#section2 div p {
    width: 100%;
    font-size: 18px;
    color: grey;
    line-height: 1.5;
}

#section3 {
    width: 100%;
    height: auto;
}

.ready {
    width: 50%;
    height: auto;
    background-color: white;
    margin: auto;
    padding: 50px 70px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px grey;
    border-radius: 15px;
    transform: translateY(60%);
}

#section3 div h1{
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.start-btn1 {
    width: 60%;
    padding: 25px;
    background-color: #fe52c0;
    border: 1px solid #fe52c0;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 3px 7px  grey;
}

footer {
    width: 100%;
    height: auto;
    padding: 60px 90px;
    background-color: #00252e;
}

.logo1 {
    padding-top: 150px;
    padding-bottom: 40px;
    filter: invert(74%) sepia(38%) saturate(345%) hue-rotate(304deg) brightness(104%) contrast(102%);
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

li {
    list-style-type: none;
    padding-bottom: 25px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.grid {
    width: 20%;
}

.block {
    display: block;
    width: 24%;
}

.lorem {
    display: flex;
    line-height: 1.5;
    text-align: left;
}

.location {
    padding-top: 10px;
    margin-right: 20px;
}

.icons {
    display: flex;
}

.fb {
    width: 30px;
    height: auto;
}

.twt {
    width: 30px;
    height: auto;
    margin: 0 20px;
}

.phone-flex {
    display: flex;
    color: white;
    text-align: left;
    padding-bottom: 30px;
}

.number {
    text-align: left;
}

.phone {
    margin-right: 20px;
}

.copyright {
    text-align: right;
    color: white;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MOBILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MOBILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MOBILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MOBILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


@media (max-width: 1000px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    body {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        font-family: 'Poppins', sans-seri
    }
    header {
        width: 100%;
        height: auto;
        padding: 30px 20px;
        background-color: #edfbfe;
        background-image: url(./bg-hero-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    #div1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        width: 120px;
        height: 40px;
    }
    
    .free-btn {
        width: 120px;
        padding: 12px;
        background-color: white;
        border: 1px solid white;
        border-radius: 25px;
        font-size: 12px;
        font-weight: bold;
        box-shadow: 2px 2px 5px grey;
    }

    .free-btn:hover {
        opacity: 0.8;
        color: rgb(44, 43, 43);
    }
    
    #div2 {
        width: 100%;
        display: block;
        margin: auto;
    }
    
    #div3 {
        width: 100%;
        text-align: center;
        padding-top: 100px;
    }
    
    #div4 {
        width: 100%;
        padding-top: 60px;
    }
    
    .illustration {
        width: 100%;
        height: auto;
    }
    
    header div h1 {
        width: 100%;
        font-size: 32px;
        text-transform: capitalize;
        line-height: 1.5;
        padding-bottom: 40px;
    }
    
    header div p {
        width: 98%;
        font-size: 17px;
        line-height: 1.5;
        padding-bottom: 40px;
    }
    
    .start-btn {
        width: 80%;
        padding: 15px;
        background-color: #fe52c0;
        border: 1px solid #fe52c0;
        border-radius: 25px;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    .start-btn:hover {
        opacity: 0.8;
    }
    
    #main {
        width: 100%;
        padding: 30px 20px;
    }
    
    #section1 {
        display: none;
    }
    
    #mobile-section1 {
        width: 100%;
        height: fit-content;
        padding: 40px 20px;
        border-radius: 15px;
        display: block;
        box-shadow: 0px 0px 8px 0px grey;
        margin-bottom: 50px;
    }

    .sec-div {
        width: 100%;
        text-align: center;
    }
    
    .sec-div2 {
        width: auto;
        height: auto;
        padding-top: 30px;
        padding-bottom: 50px;
        margin: auto;
    }
    
    #mobile-section1 div h2 {
        font-size: 29px;
        padding-bottom: 20px;
    }
    
    #mobile-section1 div p {
        width: 100%;
        font-size: 17px;
        color: grey;
        line-height: 1.5;
    }
    
    #section2 {
        display: none;
    }

    #mobile-section2 {
        width: 100%;
        height: fit-content;
        padding: 40px 20px;
        border-radius: 15px;
        display: block;
        box-shadow: 0px 0px 8px 0px grey;
        margin-bottom: 50px;
    }
    
    .mobile {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 50px;
    } 
    
    .mobile1 {
        width: 100%;
        text-align: center;
    }
    
    #mobile-section2 div h2 {
        width: 100%;
        font-size: 29px;
        padding-bottom: 20px;
    }
    
    #mobile-section2 div p {
        width: 100%;
        font-size: 17px;
        color: grey;
        line-height: 1.5;
    }
    
    #section3 {
        width: 100%;
        height: auto;
    }
    
    .ready {
        width: 100%;
        height: auto;
        background-color: white;
        margin: auto;
        padding: 50px 15px;
        text-align: center;
        box-shadow: 0px 0px 8px 0px grey;
        border-radius: 15px;
        transform: translateY(60%);
    }
    
    #section3 div h1 {
        width: 100%;
        font-size: 19px;
        text-transform: capitalize;
        padding-bottom: 30px;
    }
    
    .start-btn1 {
        width: 75%;
        padding: 20px 35px;
        background-color: #fe52c0;
        border: 1px solid #fe52c0;
        border-radius: 40px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        box-shadow: 0px 3px 7px  grey;
    }

    .start-btn1:hover {
        opacity: 0.8;
    }
    
    footer {
        width: 100%;
        height: auto;
        padding: 30px 20px;
        background-color: #00252e;
    }
    
    .logo1 {
        padding-top: 150px;
        padding-bottom: 40px;
        filter: invert(74%) sepia(38%) saturate(345%) hue-rotate(304deg) brightness(104%) contrast(102%);
    }
    
    .flex {
        width: 100%;
        display: block;
        color: white;
    }
    
    li {
        list-style-type: none;
        padding-bottom: 25px;
        font-size: 18px;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    .block {
        width: 93%;
        font-size: 19px;
        padding-bottom: 40px;
    }
    
    .location {
        padding-top: 10px;
        margin-right: 20px;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    
    .fb {
        width: 30px;
        height: auto;
    }
    
    .twt {
        width: 30px;
        height: auto;
        margin: 0 20px;
    }

    .grid {
        width: 100%;
    }

    .grid2 {
        padding-bottom: 30px;
    }
    
    .phone-flex {
        display: flex;
        color: white;
        text-align: left;
        padding-bottom: 30px;
    }
    
    .number {
        text-align: left;
    }
    
    .phone {
        margin-right: 20px;
    }
    
    .copyright {
        text-align: right;
        color: white;
    }
}